body {
  margin: 0;
  position: relative;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.813rem;
  max-width: 82rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(34, 34, 34, 0.15);
  padding: 1rem 1rem;
  margin: auto;
}
.navbar .link-list {
  display: none;
}

.about-links {
  display: none;
}

@keyframes example {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 200px;
    width: 100%;
  }
}
.responsive-nav {
  background: rgba(34, 34, 34, 0.75);
  width: 100%;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 1;
  animation-name: example;
  animation-duration: 0.5s;
  padding: 2rem;
}
.responsive-nav li {
  list-style: none;
  margin-bottom: 1rem;
}
.responsive-nav a {
  text-decoration: none;
  color: #fff;
}

.responsive-nav-none {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-order {
  gap: 0 1rem;
  border: 1px solid #fff;
  border-radius: 1.56rem;
  -webkit-border-radius: 1.56rem;
  -moz-border-radius: 1.56rem;
  -ms-border-radius: 1.56rem;
  -o-border-radius: 1.56rem;
  padding: 0.8rem 0;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.w-50 {
  width: 50%;
}

.text-center {
  text-align: center;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.hero-section {
  position: relative;
}

.section-description {
  color: #d4b254;
  font-size: 0.813rem;
  line-height: 0;
}

.header-two {
  color: #222222;
  font-size: 1.8rem;
  font-weight: bold;
}

.header-three {
  color: #222222;
  font-size: 1.4rem;
  font-weight: bold;
}

.header-one {
  font-size: 2rem;
  color: #fff;
}

.body-text {
  font-size: 0.94rem;
  color: #777777;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.btn-gold {
  background-color: #d4b254;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #d4b254;
  color: #fff;
  border-radius: 1.88rem;
  -webkit-border-radius: 1.88rem;
  -moz-border-radius: 1.88rem;
  -ms-border-radius: 1.88rem;
  -o-border-radius: 1.88rem;
  font-family: "Roboto", sans-serif;
}
.btn-gold:hover {
  background-color: #fff;
  color: #d4b254;
  transition-duration: 1s;
}

.craft-section {
  display: flex;
  flex-direction: column;
}
.craft-section .craft-content-wrap {
  padding: 1rem;
  text-align: center;
}
.craft-section .craft-content-wrap .button-wrap {
  width: 13.19rem;
  margin: auto;
}

.gallery-section {
  max-width: 82rem;
  margin: auto;
  padding: 4rem 1rem;
}
.gallery-section .gallery {
  display: flex;
  justify-content: space-around;
  gap: 0 0.813rem;
  margin-bottom: 2.3rem;
}
.gallery-section .button-wrap {
  width: 11.5rem;
  margin: auto;
}

.font-Questrial {
  font-family: "Questrial", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.footer {
  padding: 3rem 1.5rem;
  background-image: url(/images/footer-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer-main-content {
  max-width: 82rem;
  margin: auto;
}
.footer li {
  list-style: none;
  color: #fff;
  margin-bottom: 1rem;
}
.footer li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 0.813rem;
}
.footer ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.footer .flex-row {
  gap: 0 1rem;
}
.footer .links-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  margin: auto;
  flex-wrap: wrap;
}
.footer .about-wrap,
.footer .info-wrap,
.footer .follow-wrap,
.footer .service-wrap {
  width: 50%;
}
.footer .footer-copyright {
  text-align: center;
  color: #fff;
  opacity: 0.5;
  font-size: 0.813rem;
  padding: 0 1rem;
  margin: 4rem 0;
}

.border-white {
  border-top: 1px solid white;
  opacity: 0.2;
}

.w-full {
  width: 100%;
}

.header-four {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.icon-wrap {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel {
  width: 100%;
  height: 52.25rem;
  position: relative;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.slides .slide {
  width: 100%;
  height: 52.25rem;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.slides .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#testimonial-carousel {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.testimonial-slides {
  width: 100%;
  height: 22.89rem;
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin: auto;
}

.testimonial-slides .testimonial-slide {
  width: 100%;
  height: 37.5rem;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.testimonial-slides .testimonial-slide .testimonial-content {
  width: 85%;
  margin: auto;
  text-align: center;
}
.testimonial-slides .testimonial-slide .testimonial-content p {
  font-size: 1.12rem;
  color: #777777;
}

.testimonial-section {
  position: relative;
  height: 22rem;
  padding: 6rem 0;
  background-color: #eeeeee;
}
.testimonial-section .section-description {
  text-align: center;
  margin-bottom: -5rem;
}

.testimonial-btn-wrap {
  width: 19.19rem;
  margin: auto;
}

#prev,
#next {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  font-size: 36px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
#prev img,
#next img {
  width: 1rem;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.indicators {
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.indicators div {
  background-color: #fff;
  height: full;
  width: 3rem;
  margin: 0 6px;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  cursor: pointer;
}

.active {
  background-color: #d4b254 !important;
}

.indicators div {
  background-color: #fff;
}

.hero-section {
  position: relative;
}

.hero-slide-content {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}
.hero-slide-content .content-wrap {
  width: 100%;
  color: #fff;
  margin: auto;
}
.hero-slide-content .content-wrap p {
  font-size: 0.813rem;
}
.hero-slide-content .order-btn-wrap {
  width: 18rem;
  margin: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@media screen and (min-width: 1024px) {
  .craft-section {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .craft-section .craft-content-wrap {
    width: 50%;
    padding-left: 3rem;
    max-width: 39.19rem;
    text-align: left;
  }
  .craft-section .craft-content-wrap .button-wrap {
    width: 13.19rem;
    margin: 0;
  }
  .craft-section .craft-img-wrap {
    width: 50%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.813rem;
  }
  .navbar .link-list {
    gap: 0 4rem;
    display: flex;
  }
  .navbar .link-list button {
    display: block;
  }
  .shop-links {
    width: 35%;
  }
  .shop-links li {
    list-style: none;
    color: #fff;
  }
  .shop-links li a {
    color: #fff;
    text-decoration: none;
  }
  .about-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-links li {
    list-style: none;
    color: #fff;
  }
  .about-links li a {
    color: #fff;
    text-decoration: none;
  }
  .menu-icon {
    display: none;
  }
  .footer {
    background-color: #222222;
    padding: 4rem 0;
  }
  .footer .footer-main-content {
    max-width: 82rem;
    margin: auto;
  }
  .footer li {
    list-style: none;
    color: #fff;
    margin-bottom: 1rem;
  }
  .footer li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.813rem;
  }
  .footer ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  .footer .flex-row {
    gap: 0 1rem;
  }
  .footer .links-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15rem;
    flex-wrap: nowrap;
  }
  .footer .footer-copyright {
    text-align: center;
    color: #fff;
    opacity: 0.5;
    font-size: 0.813rem;
  }
  .header-four {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
  }
  .header-two {
    color: #222222;
    font-size: 2.63rem;
    font-weight: bold;
  }
  .header-three {
    color: #222222;
    font-size: 2rem;
    font-weight: bold;
  }
  .header-one {
    font-size: 3.25rem;
    color: #fff;
  }
  .btn-gold {
    background-color: #d4b254;
    width: 100%;
    padding: 1rem;
    border: 1px solid #d4b254;
    color: #fff;
    cursor: pointer;
    border-radius: 1.88rem;
    -webkit-border-radius: 1.88rem;
    -moz-border-radius: 1.88rem;
    -ms-border-radius: 1.88rem;
    -o-border-radius: 1.88rem;
    font-family: "Roboto", sans-serif;
  }
  .hero-slide-content {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
  }
  .hero-slide-content .content-wrap {
    width: 50%;
    color: #fff;
    margin: auto;
  }
  #testimonial-carousel {
    width: 60%;
    height: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  .testimonial-slides {
    width: 100%;
    height: 22.89rem;
    position: absolute;
    top: 20%;
    left: 0;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: auto;
  }
  .testimonial-slides .testimonial-slide {
    width: 100%;
    height: 37.5rem;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  .testimonial-slides .testimonial-slide .testimonial-content {
    width: 60%;
    margin: auto;
    text-align: center;
  }
  .testimonial-slides .testimonial-slide .testimonial-content p {
    font-size: 1.13rem;
    color: #777777;
  }
  .testimonial-section {
    position: relative;
    height: 22rem;
    padding: 6rem 0;
    background-color: #eeeeee;
  }
  .testimonial-section .section-description {
    text-align: center;
    margin-bottom: -5rem;
  }
  .testimonial-btn-wrap {
    width: 26.19rem;
    margin: auto;
  }
  #prev,
  #next {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    font-size: 36px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  #prev img,
  #next img {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */